---
layout: page
---
<div id="wrapper" class="home">
  <div class="home-container">
    <ol class="list-view">
      <li>
        <div class="badge">
          <div>{% include now-badge.svg %}</div>
        </div>
        <div class="details">
          <h3>Now</h3>
          <div>
            <p>I am responsible for the software development of <a href="https://www.printastico.com.br/">a cool startup</a> based in Brazil.</p>
          </div>
        </div>
      </li>

      <li>
        <div class="badge">
          <div>{% include lab-badge.svg %}</div>
        </div>
        <div class="details">
          <h3>Lab</h3>
          <div>
            <p>Some of my projects are: <a href="http://babybow.com.br">babybow</a>, <a
              href="https://github.com/remunizz/open-video">open-video</a> and <a
              href="https://github.com/remunizz/day-off">day-off</a></p>
          </div>
        </div>
      </li>

      <li>
        <div class="badge">
          <div>{% include blog-badge.svg %}</div>
        </div>
        <div class="details">
          <h3>Blog</h3>
          <div>
            <p>Blog <a href="/blog">posts soon</a>!</p>
          </div>
        </div>
      </li>

      <li>
        <div class="badge">
          <div>{% include gps-badge.svg %}</div>
        </div>
        <div class="details">
          <h3>Where am i?</h3>
          <div>
            <ol>
              <li><a href="https://github.com/remunizz" target="_blank">Github</a></li>
              <li><a href="https://www.behance.net/renanMuniz" target="_blank">Behance</a></li>
              <li><a href="https://twitter.com/renanmunizz" target="_blank">Twitter</a></li>
              <li><a href="https://www.linkedin.com/in/renan-muniz-7126a096" target="_blank">Linkedin</a></li>
              <li><a href="https://www.facebook.com/re.munizz" target="_blank">Facebook</a></li>
              <li><a href="{{ site.url }}/feed.xml" target="_blank">RSS</a></li>
            </ol>
          </div>
        </div>
      </li>

    </ol>
  </div>
</div>
