<div class="profile">
  <section class="wrapper">
    <header id="header">
      <a href="{{ site.baseurl }}/about/">
	<picture>
	<source srcset="{{ site.url }}/assets/profile-photo.jpg, {{ site.baseurl }}/assets/profile-photo-2x.jpg 2x, {{ site.baseurl }}/assets/profile-photo-3x.jpg 3x">
	<img src="{{ site.baseurl }}/assets/profile-photo.jpg" width="120" height="120" alt="Renan Muniz profile photo">
	</picture>
      </a>
      <h1 class="post-title">{{ site.title }}</h1>
	  <h2>{{ site.about.description }}</h2>
    </header>
	</section>
</div>
