<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-56300777-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

{% include header.html %}
<div class="page-content">
  <div class="wrapper">
    {{ content }}
  </div>
</div>

{% include footer.html %}
</body>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/service-worker.js').then(function() { 
    console.log("Service Worker Registered"); 
  });
}
</script>
</html>
